
@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  height: 70px;
}
:root {
    --font-color: #96cf24;
    --font-white: #959292;
    --background: #040404;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--font-color);
  }
  html {
     background-color: var(--background);
  }
  p {
    color: var(--font-white);
  }
  /* SUBNAV */
.subnav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-self: center;
  position: fixed;
  z-index: 2;
}
.logo img {
  height: 45px;
  z-index: 3;
  margin-top: 13px;
}
.dropdown img {
  height: 35px;
  margin-top: 1%;
  z-index: 3;
  position: absolute;
} 
@keyframes show {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0%);
  }
}

.mouse{
  width: 20px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 48px;
  position: absolute;
  top: 90%;
  left: 3%;
  z-index: 3;
}
.mouse::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  animation: scroll 1s infinite;
}
@keyframes scroll{
  from{
      opacity: 1;
      top: 4px;
  }
  to{
      opacity: 0;
      top: 20px;
  }
}
  /* NAVBAR */
  .hidden {
    display: none;
  }
  .active {
    display: block;
  }
  @keyframes fade {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
  }
  @keyframes show {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
  .nav {
    height: 66vh;
    width: 380px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(240, 235, 235, 0.2);
    background-color: var(--background);
    position: absolute;
    z-index: 1;
    resize: both;
    right: 0%;
    animation: show 0.2s linear;
  
  }
  .nav, ul, li, a{
    text-align: end;
    text-decoration: none;
    list-style: none;
  }
  nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--font-white);
  }
  nav a:hover {
    color: var(--font-color);
    filter: blur(1px);
  }
  ul {
    padding: 30px;
  }
  li {
    padding: 20px;
  }
  .social-media {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  h1, h2 {
    filter: blur(1px);
  }
  h3{
    filter: blur(0.7px);
  }


  /* BUTTON */
  
  button, .a-button {
    padding: 15px;
    border: solid 1px rgba(42, 41, 41, 0.2);
    box-shadow: 0 0 10px rgba(240, 235, 235, 0.2);
    background-color: rgba(42, 41, 41, 0.2);
    color: var(--font-white);
    font-size: 1rem;
  }
.a-button:hover {
  background-image: linear-gradient(to bottom,#3f3f3f, #000000);
  color: var(--font-color);
  transition: all .35s;
  }
  button:hover {
    background-image: linear-gradient(to bottom,#3f3f3f, #000000);
    color: var(--font-color);
    transition: all .35s;
  }
  .btn{
    box-shadow: 0 0 10px rgba(240, 235, 235, 0.2);
    background-color: rgba(42, 41, 41, 0.2);
    color: var(--font-white);
    border-radius: 3px;
    font-size: 1rem; 
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
 
  .btn:hover {
    background-image: linear-gradient(to bottom,#3f3f3f, #000000);
    color: var(--background);
  }
  /* SECTION */
  section {
    position: relative;
    max-width: auto;
    background-color: var(--background);
  }
  /* MODELS */
  canvas {
    height: 100vh;
    width: 10%;
    margin: 0;
    padding: 0;
    touch-action: none;
  }
  iframe {
    position: relative;
    z-index: 2;
  }
  @media screen and (max-width:950px){
  canvas{
    height: 60vh;
    touch-action: none;
  }
  }
  
  .htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 1px;
  background-color: black;
  position: relative;
  z-index: 2;
  }
  /* Stars */

.earthCanvas {
  position: absolute;
  z-index: 1;
  cursor: grab;
}
/* Footer */
footer {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
}