.card-wrapper {
   z-index: 1;
   display: flex;
  flex-wrap: wrap;
   justify-content: space-around;
   grid-template-columns: repeat(auto-fit, minmax(250px, 12fr));
   columns: 2;
   
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
  }

.card {
    border-radius: 5px;
    width: 20%;
    position: relative;
    padding: 1%; 
    z-index: 1;
    margin: 31px auto 50px;
    box-shadow: 0 0 10px rgba(240, 235, 235, 0.2);
    background-color: rgba(42, 41, 41, 0.2);
    margin-top: 5%;
    margin-bottom: 5%;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;


}
.image, .image img  {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 3px;

}
.card-content{
    text-align: start;
    justify-content: end;
    margin: 3%;
    width: 100%;
}
.card-content h3, span {
    margin-top: 7%;
}
.card-content p {
    margin-top: 5%;
    margin-bottom: 5%;
}
 .language {
    font-size: 0.7rem;
    margin-right: 3px;
    padding: 5px;
    color: #666666;
 }
 .card-btns {
   display: flex;
   justify-content: space-around;
 }
.code-btn{
box-shadow: 0 0 10px rgba(240, 235, 235, 0.2);
background-color: rgba(42, 41, 41, 0.2);
color: var(--font-color) ;
font-size: 1rem; 
display: block;
width: 40px;
height: 40px;
line-height: 40px;
font-size: 18px;
text-decoration: none;
text-align: center;
position: relative;
transition: all .35s;
border-radius: 5px;
}
.code-btn:hover {
    background-image: linear-gradient(to bottom,#3f3f3f, #000000);
    color: var(--background);
}
@media (max-width: 900px){
    .card{
        width: 100%;
    }
}
